body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}

#editor {
    width: 90%;
    height: 80vh;
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 8px;
}

#output {
    width: 90%;
    color: white;
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    margin-top: 20px;
}
